* {
    margin: 0;
    padding: 0;
}

html {
    color: white;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

.top-header,
.body-section,
.body-sec3,
.footer-container,
.faq-container {
    border: 5px solid #535251;
}

.top-header {
    height: 110vh;
    background-image: url(image/bk.jpg);

}

.container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);

}

.language-picker {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 30px;
    border: 1px solid #535251;
    border-radius: 5px;


}


.language,
.drop-down {
    position: absolute;
    top: 5px;



}

.drop-down {
    right: -4px;
    top: 6px;




}


.navbar {

    padding: 20px 100px;
    display: flex;
    justify-content: space-between;

}

.right-half {

    display: flex;
    gap: 40px;
    align-items: center;
}

.dropdown-container {


    position: relative;

}

.btn {
    background-color: #E50815;
    padding: 8px;
    border: none;
    color: white;
    border-radius: 5px;
}

/* From Here the  main paragraph is started*/
.content {

    margin: 20vh auto;
    width: 70%;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.content h1,
.content p {
    margin-top: 20px;
}

.content h1 {
    font-size: 50px;
    font-weight: bold;

}

.content p {
    font-size: 24px;
    font-weight: 600px;
}

.Email-container {


    display: flex;
    gap: 20px;
    width: 60%;
    margin-top: 80px;
}

.Email-container>input {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #535251;

    padding: 0px 10px;
    border-radius: 5px;
}

.get-started-btn {
    display: flex;
    align-items: center;
    font-size: 20px;

}

/* 2nd page of body selction */
.body-section {

    display: flex;
    align-items: center;
    padding: 50px 100px;
}

.left-item h1 {
    font-size: 50px;
    margin-bottom: 20px;


}

.left-item p {
    font-size: 25px;
}


.right-item {

    position: relative;
}

.right-item>video {
    position: absolute;
    left: 80px;
    top: 20%;
    z-index: -1;
}

/*  Here the third body design has started */
.body-sec3 {
    padding: 40px 100px;
    display: flex;
    align-items: center;

}

.left-one {

    position: relative;
}

.right-one h1 {

    font-size: 40px;
    margin-bottom: 20px;
}

.right-one p {
    font-size: 25px;

}

.layout {
    border: 2px solid #535251;
    background-color: black;
    border-radius: 20px;
    left: 18.5%;
    width: 50%;
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 40px;




}

.layout img {
    width: 65px;
}

.layout p {
    font-size: 15px;
    display: flex;
    flex-direction: column;
}

.layout p span {
    color: blue;
}

/* From Here the bpdy part 5 started */

.sec5th h1 {
    font-size: 50px;
    margin-bottom: 20p;
}

.sec5th p {
    font-size: 25px;
}

/*From here the 6th body part is started*/

.faq-container {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.faq-container>h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.faq {

    display: flex;
    justify-content: space-between;
    align-self: stretch;
    padding: 20px;
    background-color: #2d2d2d;
    border-radius: 5px;
    transition-duration: 0.5s;


}

.faq:hover {

    background-color: #f7850d;

}

/* from here the comment box noted */
.faq-container>p {
    font-size: 24px;
    margin: 25px 0px;


}

.Email {
    display: flex;
    gap: 5px;
    width: 50%;
    margin-top: 3px;

}

.Email>input {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #535251;

    padding: 25px 10px;
    border-radius: 5px;
}

/* from the the last body part is started*/
.footer-container {

    padding: 100px;
}

.footer-container,
a {

    color: #AFAFAF;

}

.link-container {

    display: flex;
    gap: 250px;
    justify-content: flex-start;
    padding: 40px 0px;

}

.link-item {

    display: flex;
    flex-direction: column;
    gap: 20px;

}